nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:fixed;
width:100%;
top:0;
background:rgba(15,23,42,.85);
backdrop-filter:blur(12px);
z-index:1000;
}

.logo{
font-size:32px;
font-weight:bold;
color:#3b82f6;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
transition:.3s;
}

nav a:hover{
color:#3b82f6;
}